/** Common sass **/

html,
body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
	@include font-smoothing(on);
	font-family: 'Noto Serif SC', serif;
	color: black;
	overflow-x: hidden;
}

.wrapper {
	// overflow-x:hidden;
}


h1 {

	font-family: 'Noto Serif SC', serif;
	font-style: normal;
	font-weight: 200;
	font-size: 48px;
	line-height: 48px;
	/* or 100% */

	color: black;

	@include media-breakpoint-down(md) {
		font-size: 32px;
		line-height: 32px;
	}

}


h2 {

	font-family: 'Noto Serif SC', serif;
	font-style: normal;
	font-weight: 200;
	font-size: 22px;
	line-height: 26px;

	color: black;

}

h3 {
	font-family: 'Noto Serif SC', serif;
	font-style: normal;
	font-weight: 200;
	font-size: 30px;
	line-height: 36px;

	color: black;

	@include media-breakpoint-down(md) {
		font-size: 20px;
		line-height: 22px;
	}
}

h4 {

	font-family: 'Noto Serif SC', serif;
	font-style: normal;
	font-weight: 200;
	font-size: 24px;
	line-height: 29px;
	/* identical to box height */
	text-align: center;

	color: black;

	@include media-breakpoint-down(md) {
		font-size: 18px;
		line-height: 20px;
	}


}

p {

	font-family: 'Noto Serif SC', serif;
	font-style: normal;
	font-weight: 200;
	font-size: 16px;
	line-height: 24px;

	color: black;


}