#header {
	.header_wrap {
		text-align: center;
		border-bottom: 1px solid rgb(238,238,238);
		.logo {

			img {
				max-width: 300px;
				height: auto;
				margin-bottom: 30px;
				@media only screen and (max-width: 600px) { 
					max-width: 150px;
					margin-bottom: 10px;
				}
			}
		}
	}
}