#header {
	position: fixed;
	z-index: 999;
	width: 100%;
	top: 0;
	left: 0;

	background: white;

	.header_wrap {
		padding: 0 40px;
		@include media-breakpoint-down(sm) {
			padding: 0 0px;

		}
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 86px;

		img {
			width: 160px;
		}

		span.hphone {
			margin-right: 20px;

			img {
				width: 17px;
				height: 18px;
				margin-right: 4px;
			}

			a {
				font-family: 'Lato', sans-serif;
				font-style: normal;
				font-weight: normal;
				font-size: 14px;
				line-height: 17px;
				color: #000000;
			}

			@include media-breakpoint-down(sm) {
				display: none !important;

			}

		}


		a.header_btn {

			display: block;
			padding: 10px 20px;
			background: #EC293B;
			border-radius: 100px;
			max-width: 137px;
			font-family: 'Lato', sans-serif;
			font-style: normal;
			font-weight: bold;
			font-size: 14px;
			line-height: 17px;
			color: #FFFFFF;
			@include media-breakpoint-down(sm) {
				display: none !important;

			}

		}
	}

}


#top {
	height: 86px;
}





#nav {
	margin-left: 20px;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

@media (max-width: 1300px) {
	#nav {
		-ms-flex-order: 2;
		order: 2;
		-ms-flex-positive: 0;
		flex-grow: 0;
	}
}

@media (min-width: 1300px) {
	#nav {
		-ms-flex-positive: 1;
		flex-grow: 1;
		-ms-flex-order: 0;
		order: 0;
		margin-left: 0;
	}
}

.nav-drop {
	transition: all 0.3s ease-in-out;
	background: #fff;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	z-index: 999;
	opacity: 0;
	visibility: hidden;
	font-family: 'Lato', sans-serif;
	text-align: center;
	padding: 20px 0;


	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;

	color: #000000;


}

@media (min-width: 1300px) {
	.nav-drop {
		position: static;
		opacity: 1;
		visibility: visible;
		color: #0F0A3D;
		background: none;
		text-align: left;
	}
}

.nav-active .nav-drop {
	opacity: 1;
	visibility: visible;
}

@media (min-width: 1300px) {
	.nav-drop>ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-bottom: 0;
		padding-left: 10px;
	}
}

.nav-drop>ul>li.current-menu-item>a {
	color: #EC293B;

}

.nav-drop li {
	position: relative;
	list-style: none;
	padding-bottom: 15px;
}

@media (min-width: 1300px) {
	.nav-drop li {
		padding-bottom: 0;
	}
}

.nav-drop li.active a {
	color: #24A5DD;
}

.nav-drop li.active a:hover {
	color: #EC293B;
}

.nav-drop li:hover>a {
	color: #EC293B;

}

.nav-drop li:hover>ul {
	display: block;
}

.nav-drop li>ul {
	display: none;
	width: 100%;
	top: 100%;
	left: 0;
}

@media (min-width: 1300px) {
	.nav-drop li>ul {
		position: absolute;
	}
}

.nav-drop a {
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	color: #000000;
}

.nav-opener {
	position: relative;
	width: 30px;
	height: 30px;
	font-size: 0;
	line-height: 0;
	float: right;
}

@media (min-width: 1300px) {
	.nav-opener {
		display: none;
	}
}

.nav-opener:before,
.nav-opener:after,
.nav-opener span {
	transition: transform 0.3s ease-in-out;
	background: #1f1f1f;
	position: absolute;
	top: 16px;
	left: 15%;
	right: 15%;
	height: 3px;
	margin-top: -2px;
}

.nav-opener:before,
.nav-opener:after {
	content: '';
	top: 10px;
}

.nav-opener:after {
	top: 22px;
}

.nav-opener:hover {
	opacity: 0.9;
}

.nav-active .nav-opener span {
	opacity: 0;
}

.nav-active .nav-opener:after,
.nav-active .nav-opener:before {
	transform: rotate(45deg);
	top: 16px;
	left: 15%;
	right: 15%;
}

.nav-active .nav-opener:after {
	transform: rotate(-45deg);
}

.resize-active .nav-drop,
.resize-active .nav-drop>ul {
	transition: none !important;
}

#menu-header-menu{
	padding-left:0;
}
#menu-header-menu>li ul.sub-menu {
	background-color: #FFFFFF;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	margin-top: 10px;
	padding: 21px 11px 11px;
}

#menu-header-menu>li ul.sub-menu>li {
	padding-bottom: 10px;
}

#menu-header-menu>li ul.sub-menu>li:hover a {
	color: #24A5DD;
}

#menu-header-menu>li ul.sub-menu>li a {
	text-transform: none;
	font-size: 12px;
	line-height: 18px;
	color: #0F0A3D;
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: normal;
}

#menu-header-menu>li {
	margin-left: 15px;
	margin-right: 15px;
}

@media (max-width: 1450px) {
	#menu-header-menu>li {
		margin-left: 5px;
		margin-right: 5px;
	}

}

@media (min-width: 1300px) {
	#menu-header-menu>li {
		padding-left: 0;
	}

	#menu-header-menu>li:hover a {
		opacity: 1;
		color: #EC293B;

	}


	#menu-header-menu>li ul.sub-menu {
		background-color: #FFFFFF;
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
		border-radius: 4px;
		left: 0px;
		z-index: 1001;
		top: 28px;
		padding: 21px 11px 11px;
		width: 218px;
		margin-top: 0px;
	}

	#menu-header-menu>li ul.sub-menu>li {
		padding-bottom: 10px;
	}

	#menu-header-menu>li ul.sub-menu>li:hover a {
		color: #24A5DD;
	}

	#menu-header-menu>li ul.sub-menu>li a {
		text-transform: none;
		font-size: 12px;
		line-height: 18px;
		color: #0F0A3D;
		font-family: 'Lato', sans-serif;
		font-style: normal;
		font-weight: normal;
	}
}

body.overlay-open {
	overflow: hidden;
}

#wrapper {
	width: 100%;
	overflow: hidden;
	background: #fff;
}

.nav-active {
	position: relative;
	overflow: hidden;
}

.nav-active:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(31, 31, 31, 0.5);
	z-index: 1;
}